@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Edition";
  src: url("../../public/fonts/EDITION_.TTF");
}
@font-face {
  font-family: "Ogg";
  src: url("../../public/fonts/Ogg-Regular-BF646c18fc465e5.ttf");
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}