@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Edition";
  src: url("../../public/fonts/EDITION_.TTF");
}
@font-face {
  font-family: "Ogg";
  src: url("../../public/fonts/Ogg-Regular-BF646c18fc465e5.ttf");
}